@charset "UTF-8";
/**
 * 
 * @authors hsy (suyunn.he@gmail.com)
 * @date    2016-06-22 15:03:49
 */
html,body,div,span,p,a,
dl,dt,dd,ul,li,ol,
h1,h2,h3,h4,h5,h6,pre,
form,input,textarea,label,
table,caption,tbody,tfoot,thead,tr,th,td,
header,footer,article,nav,section,
video,canvas{
	margin: 0;
	padding: 0;
	border:0;
	font: inherit;
	font-size: 100%;

}
html{
	line-height: 1;
}
table{border-collapse: collapse;border-spacing: 0;}
ol,
ul{
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-size: 100%;
	font-weight: normal;
}
a img{
	border:none;
}
img{
	max-width: 100%;
	border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var{
	font-style: normal;
	font-weight: normal;
}
/*文字排版*/
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f20{font-size: 20px;}
.fb{font-weight: bold;}
.fn{font-weight: normal;}
.t2{text-indent: 2em;}

/*定位*/
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.bc{margin-left: auto;margin-right: auto;}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}
.cb{clear: both;}
.cl{clear: left;}
.cr{clear: right;}
.clearfix{display: inline-block;}
.clearfix:after{content: '';display: block;height: 0;clear: both;visibility: hidden;}
.vm{vertical-align: middle;}
.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display: none;}

/*长度高度*/
.w50{width: 50%;}
.w100{width: 100%;}
.h50{height: 50%;}
.h100{height: 100%;}

/*边距*/
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}

.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
